/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Barra de Navegación */
.navbar {
    width: 100%;
    background-color: #007bff;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
}

.navbar-menu li {
    display: inline;
    margin-left: 20px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
}

/* Sección Inicio */
.inicio {
    text-align: center;
    padding: 50px 20px;
    max-width: 800px;
}

.banner {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.inicio h1 {
    font-size: 2em;
    margin-top: 20px;
}

/* Sección Acerca de */
.acerca {
    background-color: #ffffff;
    padding: 50px 20px;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.acerca h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Sección Proyectos */
.proyectos {
    padding: 50px 20px;
    max-width: 800px;
    text-align: center;
}

.proyectos h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.proyectos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proyecto-item {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.proyecto-item:hover {
    transform: scale(1.05);
}

.proyecto-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.proyecto-item h3 {
    font-size: 1.2em;
    margin: 15px 0;
}

.proyecto-item p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.proyecto-item a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.proyecto-item a:hover {
    text-decoration: underline;
}

/* Sección Proyecto 1 */
.proyecto1 {
    padding: 50px 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.proyecto1 h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.proyecto1 p {
    line-height: 1.6;
}

/* Sección Contacto */
.contacto {
    padding: 50px 20px;
    max-width: 800px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
}

.contacto h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}